<div class="fields">
  <p><li>
    <%= f.label :description, "Answer" %>
    <%= link_to "remove", "#", :class => 'remove-link' %><br />
    <%= f.text_area :description, :rows => 3 %></li>
  </p>
</div>